:root {
    --white: white;
    --EDITOR_RED: 0;
    --EDITOR_GREEN: 0;
    --EDITOR_BLUE: 0;
}

#square-Online {
    background-color: var(--Online);
}

#square-Idle {
    background-color: var(--Idle);
}

#square-Unavailable {
    background-color: var(--Unavailable);
}

#square-Offline {
    background-color: var(--Offline);
}

#square-Playing {
    background: center/cover no-repeat var(--Playing);
}

#square-Xbox {
    background: center/cover no-repeat var(--Xbox);
}

#square-Spotify {
    background: center/cover no-repeat var(--Spotify);
}

#square-StreamingColor {
    background: center/cover no-repeat var(--StreamingColor);
}

#square-Streaming {
    background: center/cover no-repeat var(--Streaming);
}

#square-grey {
    background-color: var(--grey);
}

#square-darkgrey {
    background-color: var(--darkgrey);
}

#square-Chatbox {
    background-color: var(--ChatBox);
}

#square-TitleBG {
    background-color: var(--TitleBG);
}

#square-Sidebar {
    background-color: var(--Sidebar);
}

#square-SendMessage {
    background-color: var(--SendMessage);
}

#square-HoverMessage {
    background-color: var(--HoverMessage);
}

#square-Highlighted {
    background-color: var(--Highlighted);
}

#square-ActiveBox {
    background-color: var(--ActiveBox);
}

#square-logo {
    background: center/cover no-repeat var(--logo);
}

#square-C1 {
    background-color: var(--C1);
}

#square-C2 {
    background-color: var(--C2);
}

#square-C3 {
    background-color: var(--C3);
}

#square-C4 {
    background-color: var(--C4);
}

#square-C5 {
    background-color: var(--C5);
}

#square-C6 {
    background-color: var(--C6);
}

#square-C7 {
    background-color: var(--C7);
}

#square-C8 {
    background-color: var(--C8);
}

#square-C9 {
    background-color: var(--C9);
}

#square-C10 {
    background-color: var(--C10);
}


body {
    margin: 0;
    align-items: center;
    justify-content: center;
    background: center/cover repeat var(--background);
    width: 100%;
    height: 100%;
    color: var(--white);
    line-height: 16px;
}

* {
    font-family: var(--font), sans-serif;
}

::selection {
    opacity: 0;
}

code>span::selection,
code::selection,
input::selection {
    opacity: 1 !important;
    background: var(--grey) !important;
}

code {
    display: block;
    position: relative;
    background: var(--grey);
    padding: 1em .5em;
    border-radius: 5px;
}

code:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    content: "";
    height: 4px;
    border-radius: 0 0 .5em .5em;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

#TextPreview {
    text-shadow: 0 0 13px;
    background: var(--darkgrey5);
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-weight: 700;
}

.text {
    margin-top: 10px;
    font-size: 12px;
}

.form {
    padding: .5rem 2rem;
    border-radius: 5px;
}

.centered.columns,
.centered.columns .column {
    text-align: center;
}

.columns {
    position: relative;
    padding: 5px;
    display: grid;
    width: calc(100% - 10px);
}

.column {
    padding-top: 30px !important;
    text-align: left;
    position: relative;
    display: block;
    margin: 2px 10%;
    border-radius: 5px;
    padding: 5px;
    width: calc(80% - 10px);
    background: var(--darkgrey5);
}

.value:not(:last-child) {
    margin-bottom: 3px;
}

#edition .value {
    text-align: center;
    overflow: hidden;
    padding-bottom: 0;
}

.value {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    height: 60px;
    background-color: var(--grey5);
    padding: 10px 5px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.menu {
    display: flex;
    margin: 5px;
}

.menu .RGBbutton:first-child {
    border-radius: 5px 0 0 5px;
    border: none;
}

.menu .RGBbutton {
    border-radius: 0;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    border: none;
    border-left: 1px solid var(--darkgrey);
}

.menu .RGBbutton:last-child {
    border-radius: 0 5px 5px 0;
}

#NewURL {
    width: 100%;
    margin-top: 0;
    height: 50px;
    box-shadow: none;
}

input[type=text].fullwidth {
    width: 100%;
}

input[type=text] {
    background: var(--darkgrey5);
    padding: 5px 0 5px 10px;
    outline: 0;
    float: right;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px var(--darkgrey);
    height: 30px;
    color: #fff;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    font-size: 20px;
    width: calc(50% - 10px);
}

input[type=text]:focus {
    width: 75%;
    color: var(--purple);
    border-bottom: 1px solid var(--purple);
}

.title {
    margin: 5px;
    width: 100%;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.title p {
    margin: 0;
}

#copyright {
    text-align: center;
}

@keyframes bganim {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

.RGBbutton.Add {
    background-color: var(--Online);
}

.RGBbutton.Remove {
    background-color: var(--Unavailable);
}

.RGBbutton.disabled {
    background-color: var(--darkgrey) !important;
    color: var(--grey) !important;
}

.RGBbutton.disabled:hover {
    transform: none !important;
    text-shadow: none !important;
    font-weight: initial !important;
}

.RGBbutton {
    width: 100%;
    height: 3em;
    font-size: 1.25em;
    line-height: 3em;
    margin: 0;
    border-radius: 5px;
    text-align: center;
}

.RGBbutton:hover {
    transform: scale(.98);
    border-radius: 5px !important;
    text-shadow: 0 0 13px;
    font-weight: 700;
}

.square::before {
    position: relative;
    top: 0;
    left: 0;
    content: "❌";
    font-size: 20px;
    line-height: 30px;
    margin-left: 2px;
    z-index: -1;
}

.square {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    box-shadow: 0 0 5px 1px var(--grey);
    border-radius: .15em;
}

.no.square {
    background-color: transparent;
    box-shadow: 0 0 5px 1px transparent;
}

#config4 .value>.square::before,
.no.square::before {
    content: "";
}

#config4 .value {
    background: 0 0;
}

#config4 .square::before {
    content: " ";
}

#config4 .square {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    margin: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.custom {
    -webkit-appearance: none;
    width: 80%;
    font-size: 20px;
    line-height: 30px;
    margin: 5px;
    height: 30px;
    background: var(--grey5);
    border-radius: 5px;
    outline: 0;
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.custom:hover {
    opacity: 1;
}

.custom::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.inline {
    display: flex;
}

#colorpicker .inline.column .title {
    width: 10% !important;
}

#colorpicker .inline.column {
    background-color: var(--grey5);
    padding: 0 !important;
    margin: 2px 0;
    width: 100%;
}

#red.custom::-webkit-slider-thumb {
    background-color: var(--temp1);
}

#green.custom::-webkit-slider-thumb {
    background-color: var(--temp2);
}

#blue.custom::-webkit-slider-thumb {
    background-color: var(--temp3);
}

input[type=number] {
    background: var(--darkgrey5);
    font-size: 20px;
    line-height: 30px;
    margin: 5px;
    outline: 0;
    float: right;
    border: none;
    border-radius: .15em;
    box-shadow: 0 0 5px 1px var(--darkgrey);
    color: #fff;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    width: calc(11% - 10px);
    height: 30px;
}

.column:not(.inline)>.title {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.divider {
    border: none !important;
    opacity: .65;
    border-radius: .1em;
    margin: 1em 0;
    padding-top: .35em;
    width: 100%;
}

#copyright strong, .title p {
    font-weight: 700;
    color: var(--white);
    text-shadow: none;
}

.noedit {
    background: var(--darkgrey5);
    outline: 0;
    float: right;
    border: none;
    border-radius: .15em;
    box-shadow: 0 0 5px 1px var(--darkgrey);
    height: 30px;
    color: #fff;
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    font-size: 20px;
    width: calc(50% - 10px);
}

#edition .noedit {
    background: 0 0;
    box-shadow: none;
    text-align: left;
    height: 100%;
    display: flex;
    align-items: center;
}

code .meta {
    color: #3b9e14;
}

code .plugin {
    color: #ff1a1a;
}

code .var {
    color: #ffeb00;
}

code .comment {
    color: rgb(255 255 255 / 50%);
}

code .val {
    color: #0d93ec;
}

.desc {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 .5em .5em;
    background: var(--grey5);
    font-size: 14px;
    line-height: 30px;
}

#config4 .desc {
    top: unset;
    bottom: 0;
    height: 30px;
    line-height: 30px;
}

.green {
    color: #52fd0e;
}

input[type=checkbox]:focus {
    outline: 0;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background: var(--darkgrey);
}

input[type=checkbox]:checked {
    background: #ff0;
    position: relative;
}

input[type=checkbox]:not(:checked)::before {
    z-index: 1;
    background: var(--grey);
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

input[type=checkbox]:checked::before {
    content: '✔';
    display: block;
    color: #48ff00;
    font-size: 25px;
    text-align: center;
    width: 30px;
    line-height: 30px;
    position: absolute;
    margin: 0;
    z-index: 1;
}

#settings>.form {
    max-height: 75vh;
    overflow: auto;
}

.accept {
    float: right;
    background-color: var(--darkgrey5);
    margin: 5px 5px;
    padding: 2.5px 5px;
    font-size: 15px;
    line-height: 15px;
    height: 15px;
    border-radius: 5px;
}

#EDITOR-COL,
#EDITOR-VAR {
    font-size: 14px;
    line-height: 14px;
    margin: 5px 0;
    padding: 5px;
    background: var(--darkgrey5);
    border-radius: 5px;
}

.dropdown {
    margin: 5px auto;
    border-radius: 5px;
    line-height: 30px;
    width: 50%;
    position: relative;
    margin-top: 35px;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    background-color: var(--grey5);
    width: 100%;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 0 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    text-shadow: 0 0 12px;
    background-color: var(--grey);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    min-height: 30px;
    color: #fff;
    text-align: center;
}

.dropbtn:after {
    margin-left: 5px;
    content: "⬇";
}

#rgbtext {
    text-align: center;
    color: var(--Unavailable);
    width: 100%;
}

.LEFT-BOX {
    display: flex;
    width: 50%;
}

.desc .left.red {
    color: var(--Unavailable);
}

.desc .left.green {
    color: var(--Online);
}

.desc .left {
    background-color: var(--darkgrey5);
    margin: 5px 5px;
    padding: 2.5px 5px;
    font-size: 15px;
    line-height: 15px;
    height: 15px;
    border-radius: 5px;
    float: left;
}

#fontsList {
    display: flex;
    flex-wrap: wrap;
}

#fontsList .RGBbutton {
    flex: 0 50%;
    height: 100%;
    margin-bottom: 5px;
    padding: 5px 0;
    box-sizing: border-box;
}

#fontsList .RGBbutton:nth-child(2n) {
    border-width: 5px;
    border-radius: 0 5px 5px 0;
}

#fontsList .RGBbutton:not(:nth-child(2n)) {
    border-radius: 5px 0 0 5px;
}

.color-picker {
    color: #fff;
    padding: 0;
    border-radius: 10px;
}

.color-picker .content {
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.color-picker .selector {
    position: relative;
    display: flex;
    margin: .5rem 0;
    height: 3rem;
}

.color-picker .button {
    height: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 1.35rem;
    line-height: 3rem;
    border-radius: 50%;
    width: 3rem;
    text-align: center;
    transition: all .5s ease-out;
}

.color-picker .button i {
    font-size: 1.35rem;
    line-height: 3rem;
}

.color-picker .button:hover {
    background-color: var(--grey5);
    text-shadow: 0 0 5px;
}

.color-picker .color-range {
    width: calc(100% - 6rem);
    -webkit-appearance: none;
    font-size: 1.35rem;
    margin: 0 .5em;
    line-height: 3rem;
    height: 3rem;
    margin: 0;
    background: #000;
    border-radius: 25px;
    outline: 0;
}

.color-picker .button-validate {
    background: var(--grey5);
    margin-top: 1rem;
    padding: 5px 10px;
    color: #fff;
    font-size: 1.25rem;
    text-shadow: 0 0 5px;
    line-height: 1.25rem;
    border-radius: 10px;
    text-align: center;
    transition: all .5s ease-out;
}

#range-red {
    background: center/cover no-repeat linear-gradient(to right, rgb(0 var(--EDITOR_GREEN) var(--EDITOR_BLUE)), rgb(255 var(--EDITOR_GREEN) var(--EDITOR_BLUE)));
}

#range-green {
    background: center/cover no-repeat linear-gradient(to right, rgb(var(--EDITOR_RED) 0 var(--EDITOR_BLUE)), rgb(var(--EDITOR_RED) 255 var(--EDITOR_BLUE)));
}

#range-blue {
    background: center/cover no-repeat linear-gradient(to right, rgb(var(--EDITOR_RED) var(--EDITOR_GREEN) 0), rgb(var(--EDITOR_RED) var(--EDITOR_GREEN) 255));
}

.color-picker .color-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 25px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
}

.color-picker input::after {
    content: var(--EDITOR_RED);
    z-index: 2;
    width: 100%;
    float: left;
    margin-left: 0;
}

.color-picker .selector .container {
    position: absolute;
    top: 0;
    left: 3rem;
    right: 3rem;
    bottom: 0;
    line-height: 3rem;
}

.color-picker .selector .container .color-value {
    color: #000;
    text-align: center;
    width: 3rem;
    background: #fff;
    border-radius: 50%;
}

.color-picker input[type=text] {
    background-color: transparent;
    border: none;
    color: #fff;
    height: 3rem;
    font-size: 1.25rem;
    padding: 0 10px;
    margin: 0 10px;
    border-radius: 10px;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
    box-shadow: none;
    float: initial;
}

.color-picker .hex-color {
    align-items: center;
    line-height: 3rem;
    height: 3rem;
    font-size: 1.25rem;
}

.color-picker .hex-color .text {
    margin: 0;
    line-height: 3rem;
    font-size: 1.25rem;
    float: left;
}

.color-picker .hex-color .button {
    float: right;
}

.color-picker input[type=text]::before {
    content: "#";
}

.color-picker input[type=text]:hover,
input[type=text]:active,
input[type=text]:focus {
    background-color: rgba(255 255 255 / 30%);
    border: none;
    outline: 0;
    color: #fff;
}

.color-picker input[type=text]::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #fff;
}

.color-picker .WP-divider {
    margin: 0;
    width: 100%;
    height: 1px;
    text-align: center;
    background: var(--grey5);
    display: inline-block;
}

#logosList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#logosList .RGBbutton {
    display: flex;
    flex: 0 calc(33.333% - 10px);
    height: 100%;
    margin: 0 5px 5px 5px;
    padding: 5px 0;
    border-radius: 5px;
    box-sizing: border-box;
    place-content: center;
}

#logosList .RGBbutton>.square {
    height: 50px;
    width: 50px;
    margin-right: 0;
    box-shadow: none;
}
